# Here we list the files we want to exclude from version control

# Android
.gradle
gradle
/.idea
/.idea/workspace.xml
/.idea/libraries
/local.properties
/build
#app.iml

# Mac?
.DS_Store

# KDE
.directory
