<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.give2peer.give2peer"
    >

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera"       android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <!-- The map requires OpenGL ES 2 -->
    <uses-feature android:glEsVersion="0x00020000"             android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_48dp"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        >

        <!-- Sugar ORM -->
        <meta-data
            android:name="DATABASE"
            android:value="give2peer.db" />
        <meta-data
            android:name="VERSION"
            android:value="8" /> <!-- Every time the database structure changes, increment this -->
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" /> <!-- todo@prod disable logging -->
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="org.give2peer.give2peer.entity" />

        <!-- Google API -->
        <!-- Such keys are going to be a problem to handle in a truly open project. -->
        <!-- If you have ideas on how to handle these, I'd like to hear about them. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC9cBthk5qKbc_zW2TtjG9rjRZybzffYqU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activities are suffixed by _ for AndroidAnnotations, as it generates subclasses -->

        <!-- Map : the launcher immediately shows the items around the user's location. -->
        <activity
            android:name=".activity.MapItemsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action   android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Uses a system intent to capture an image and provides a form to add a new item. -->
        <activity
            android:name=".activity.NewItemActivity_"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >
            <intent-filter>
                <action   android:name="android.intent.action.SEND"      />
                <category android:name="android.intent.category.DEFAULT" />
                <data     android:mimeType="image/*"                     />
            </intent-filter>
        </activity>

        <!-- Registration -->
        <activity
            android:name=".activity.RegistrationActivity"
            >
        </activity>

        <!-- Login -->
        <activity
            android:name=".activity.LoginActivity_"
            >
        </activity>

        <!-- Profile -->
        <activity
            android:name=".activity.ProfileActivity_"
            >
        </activity>

        <!-- App settings -->
        <activity
            android:name=".activity.SettingsActivity"
            >
        </activity>

        <!-- Displays a grid of items, from closest to furthest -->
        <!-- NOT USED anymore, might be a good Map fallback when OpenGL 2.0 is unavailable ? -->
        <activity
            android:name=".activity.ListAroundActivity"
            >
        </activity>

    </application>

</manifest>
